body{
    padding:50px;
    background-image: url(images/bg.jpg);
    font-family: 'Rubik', sans-serif;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    margin-left: 400px;
    padding: 50px;
}
h1{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
label{
float: left;
clear: left;
width: 200px;
text-align: right;
margin-right: 10px;
font-size:18px;
}